[submodule "vim/bundle/Vundle.vim"]
	path = dotfiles/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
  ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = dotfiles/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
  ignore = dirty
[submodule "vim/bundle/vim-repeat"]
	path = dotfiles/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
  ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
  ignore = dirty
[submodule "vim/bundle/vim-commentary"]
	path = dotfiles/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
  ignore = dirty
[submodule "vim/bundle/undotree"]
	path = dotfiles/.vim/bundle/undotree
	url = https://github.com/mbbill/undotree.git
  ignore = dirty
[submodule "dotfiles/.vim/bundle/vim-swap"]
	path = dotfiles/.vim/bundle/vim-swap
	url = https://github.com/machakann/vim-swap.git
  ignore = dirty
